body {
  color: #505158;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 300;
   background: linear-gradient(#B6E6E6, transparent 15%),
              linear-gradient(0deg, #fff, transparent),
              #B6E6E6;
}

h1 {
  color: #0F084B;
  font-size: 30px;
}

p {
  font-weight: 300;
}

.avatar {
  width: 150;
  height: 150;
  border-radius: 50%;
  margin: 10px;
}

.avatar:hover {
   opacity: 0.5;
}


.icons {
  color: #e849fc;
}

.link {
  text-decoration: none;
  display: block;
  margin: 15px;
  background-color: #389393;
  color: white;
  opacity: 0.7;
  width: 25%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px 2px;
}

.link:hover {
  color: black;
}

.container {
  width: 650px;
  margin: 0 auto;
}



.card {
  background-color: #fff;
  margin: 25px 10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.list-inline {
  display: inline;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

i {
  font-size: 35px;
}

i:hover {
  color: black;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 450px;
  }
}
